name: build-kernel-ksunext-susfs
on:
  workflow_dispatch:
env:
  JOBS: 4
  CLANG_DIR: clang-r510928
jobs:
  build-ksunext-susfs:
    runs-on: ubuntu-22.04
    timeout-minutes: 90
    steps:
      - name: Free disk space
        if: ${{ true }} # Set to true if space insufficient
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false
      - name: Set swap space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 16
      - uses: actions/checkout@v6
        with:
          path: aospa-gki-kernel-build
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Setup build environment
        run: |
          sudo apt-get update
          sudo apt-get install -y bc device-tree-compiler
          sudo curl --create-dirs -o /usr/local/bin/repo -L https://storage.googleapis.com/git-repo-downloads/repo
          sudo chmod a+rx /usr/local/bin/repo
      - name: Clone repo and sync
        run: |
          repo init -u https://github.com/alex18101985/aospa-gki-kernel-build -b "$(git -C aospa-gki-kernel-build branch --show-current)" -m manifest.xml --depth=1
          repo sync
          mkdir -p kernel_platform/device/xiaomi/marble-kernel/dtbs
      - name: Setup Clang
        run: |
          mkdir -p kernel_platform/clang
          cd kernel_platform/clang

          git clone -n --depth=1 --filter=tree:0 -b main-kernel-build-2024 --single-branch \
              https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86 .
          git sparse-checkout set --no-cone "/$CLANG_DIR"
          git checkout
      - name: Include KernelSU Next (SuSFS)
        run: |
          cd kernel_platform/xiaomi/sm8450
          rm -rf KernelSU drivers/kernelsu drivers/KernelSU
          curl -LSs "https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next/next/kernel/setup.sh" | bash -s dev_susfs
      - name: Patch with custom configurations
        run: |
          cp -rvf aospa-gki-kernel-build/android_kernel_xiaomi_sm8450/. kernel_platform/xiaomi/sm8450
          cd kernel_platform/xiaomi/sm8450
          patch -p1 < no-strict-error.patch
      - name: Build kernel
        run: |
          cd kernel_platform/xiaomi/sm8450
          export CLANG_PATH=$GITHUB_WORKSPACE/kernel_platform/clang/${CLANG_DIR}/bin
          export PATH=$CLANG_PATH:$PATH
          export KBUILD_BUILD_USER=adithya
          export KBUILD_BUILD_HOST=android-build
          export LOCALVERSION="-AOSPA-Marble-KSUNext-SuSFS"
          ./build.sh marble
      - name: Zip output
        run: |
          git clone --depth=1 -b marble https://github.com/alex18101985/AnyKernel3.git AnyKernel3-marble
          cd AnyKernel3-marble
          cp ../kernel_platform/device/xiaomi/marble-kernel/Image .
          rm -r .git README.md
          find . -type f -name 'placeholder' -delete
          find . -type d -empty -delete
          zip -r9 "../marble-kernel.zip" *
          cd ..
          git clone --depth=1 -b pzqqt https://github.com/alex18101985/AnyKernel3.git AnyKernel3-pzqqt
          cd AnyKernel3-pzqqt
          cp ../kernel_platform/device/xiaomi/marble-kernel/Image .
          cp ../kernel_platform/device/xiaomi/marble-kernel/dtbs/dtbo.img .
          cp ../kernel_platform/device/xiaomi/marble-kernel/dtbs/ukee.dtb ./dtb
          cp -r ../kernel_platform/device/xiaomi/marble-kernel/vendor_dlkm ./_vendor_dlkm_modules
          cp -r ../kernel_platform/device/xiaomi/marble-kernel/vendor_ramdisk ./_vendor_boot_modules
          rm -r .git README.md
          find . -type f -name 'placeholder' -delete
          find . -type d -empty -delete
      - name: Generate release tag
        id: tag
        run: echo "release_tag=AOSPA_GKI_KSUNext_SuSFS_$(date +'%Y.%m.%d')" >> "$GITHUB_OUTPUT"
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: |
            marble-kernel.zip
      - name: Upload marble-kernel artifact
        uses: actions/upload-artifact@v4
        with:
          name: marble-kernel
          path: AnyKernel3-marble/*
          compression-level: 9
      - name: Upload blobs artifact
        uses: actions/upload-artifact@v4
        with:
          name: marble-kernel-blobs
          path: AnyKernel3-pzqqt/*
          compression-level: 9
