name: build-kernel-ksu-susfs
on:
  workflow_dispatch:
env:
  CLANG_DIR: clang-r584948b
jobs:
  build-ksu-susfs:
    runs-on: ubuntu-22.04
    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ true }} # Set to true if space insufficient
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: false
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: false
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 16
      - uses: actions/checkout@v6
        with:
          path: aospa-gki-kernel-build
      - name: Setup Python
        uses: actions/setup-python@v5 
        with:
          python-version: 'pypy3.11'
      - name: Setup build environment
        run: |
          sudo apt-get update
          sudo apt-get install -y bc device-tree-compiler
          sudo curl --create-dirs -o /usr/local/bin/repo -L https://storage.googleapis.com/git-repo-downloads/repo
          sudo chmod a+rx /usr/local/bin/repo
      - name: Clone repo and sync
        run: |
          repo init -u https://github.com/alex18101985/aospa-gki-kernel-build -b "$(git -C aospa-gki-kernel-build branch --show-current)" -m manifest.xml --depth=1
          repo sync
          mkdir -p kernel_platform/device/xiaomi/marble-kernel/dtbs
      - name: Setup Clang
        run: |
          mkdir -p kernel_platform/clang
          cd kernel_platform/clang

          : # git clone --filter & git sparse-checkout to only download required directory
          git clone -n --depth=1 --filter=tree:0 -b main-kernel --single-branch \
              https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86 .
          git sparse-checkout set --no-cone "/$CLANG_DIR"
          git checkout
      - name: Include personal changes
        run: |
          cp -rf aospa-gki-kernel-build/android_kernel_xiaomi_sm8450/. kernel_platform/xiaomi/sm8450
          cd kernel_platform/xiaomi/sm8450

          : # Fix clang 19 warnings
          curl https://github.com/LineageOS/android_kernel_xiaomi_sm8450/commit/aea66fe46a3d796d4f85c5979678055438185cbd.patch > clang.patch
          patch -p1 < clang.patch

          : # Fix clang 21 warnings
          curl https://github.com/Pzqqt/android_kernel_xiaomi_marble/commit/f4ae922da12b91d0b7a8109ba2851a44c61b0ba6.patch > clang.patch
          patch -p1 < clang.patch
          cd ..
          curl https://github.com/Pzqqt/android_kernel_xiaomi_marble/commit/3e043c16430a95f6d328f5396c14ec18a52ab10a.patch > clang.patch
          sed -i 's/drivers/sm8450\/drivers/g' clang.patch
          sed -i 's/techpack\/display/sm8450-modules\/qcom\/opensource\/display-drivers/g' clang.patch
          patch -p1 < clang.patch
      - name: Include KernelSU
        run: |
          cd kernel_platform/xiaomi/sm8450
          rm -rf KernelSU
          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -s main
      - name: Configure KernelSU LKM clean
        run: |
          cd kernel_platform/xiaomi/sm8450
          DEF=arch/arm64/configs/gki_defconfig

          # очистить старое
          sed -i '/CONFIG_KSU/d' $DEF
          sed -i '/CONFIG_KSU_INLINE/d' $DEF

          # включить модули
          grep -q CONFIG_MODULES $DEF || echo "CONFIG_MODULES=y" >> $DEF
          grep -q CONFIG_KALLSYMS=y $DEF || echo "CONFIG_KALLSYMS=y" >> $DEF
          grep -q CONFIG_KALLSYMS_ALL $DEF || echo "CONFIG_KALLSYMS_ALL=y" >> $DEF
          grep -q CONFIG_KPROBES $DEF || echo "CONFIG_KPROBES=y" >> $DEF
          grep -q CONFIG_MODULE_UNLOAD $DEF || echo "CONFIG_MODULE_UNLOAD=y" >> $DEF
          grep -q CONFIG_KALLSYMS_BASE_RELATIVE $DEF || echo "CONFIG_KALLSYMS_BASE_RELATIVE=y" >> $DEF
          grep -q CONFIG_MODULE_SIG $DEF || echo "CONFIG_MODULE_SIG=n" >> $DEF

          # LKM режим
          echo "CONFIG_KSU=m" >> $DEF
      - name: Clone SUSFS source
        run: |
          git clone --depth=1 -b gki-android12-5.10 https://gitlab.com/simonpunk/susfs4ksu.git $GITHUB_WORKSPACE/susfs4ksu
      - name: Register SUSFS LKM
        run: |
          cd kernel_platform/xiaomi/sm8450

          rm -rf fs/susfs
          mkdir -p fs/susfs

          if [ -d "$GITHUB_WORKSPACE/susfs4ksu/kernel/fs" ]; then
          cp -r $GITHUB_WORKSPACE/susfs4ksu/kernel/fs/* fs/susfs/
          else
          cp -r $GITHUB_WORKSPACE/susfs4ksu/kernel_patches/fs/* fs/susfs/
          fi

          mkdir -p include/linux
          cp $GITHUB_WORKSPACE/susfs4ksu/kernel_patches/include/linux/susfs.h include/linux/ || true

          grep -q "susfs" fs/Makefile || \
          echo -e "\nobj-\$(CONFIG_SUSFS) += susfs/" >> fs/Makefile
      - name: Enable SUSFS
        run: |
          DEF=kernel_platform/xiaomi/sm8450/arch/arm64/configs/gki_defconfig
          sed -i '/CONFIG_SUSFS/d' $DEF
          echo "CONFIG_SUSFS=m" >> $DEF
      - name: Debug drivers
        run: |
          ls kernel_platform/xiaomi/sm8450/drivers
          grep -i ksu kernel_platform/xiaomi/sm8450/drivers/Makefile
      - name: Debug configs
        run: |
          grep KSU kernel_platform/xiaomi/sm8450/arch/arm64/configs/gki_defconfig
          grep SUSFS kernel_platform/xiaomi/sm8450/arch/arm64/configs/gki_defconfig
      - name: Build kernel
        run: |
          cd kernel_platform/xiaomi/sm8450
          ./build.sh marble
      - name: Show built modules
        run: |
          find kernel_platform -name "*.ko"
      - name: Check final config
        run: |
          find kernel_platform -name .config
          grep CONFIG_KSU $(find kernel_platform -name .config | head -n1)
          grep CONFIG_SUSFS $(find kernel_platform -name .config | head -n1)
      - name: Locate KernelSU & SUSFS modules
        id: modules
        run: |
          KSU=$(find kernel_platform -name kernelsu.ko | head -n 1)
          SUS=$(find kernel_platform -name susfs.ko | head -n 1)

          echo "ksu=$KSU" >> $GITHUB_OUTPUT
          echo "sus=$SUS" >> $GITHUB_OUTPUT

          file $KSU
          file $SUS
      - name: Check module sizes
        run: |
          ls -lh ${{ steps.modules.outputs.ksu }}
          ls -lh ${{ steps.modules.outputs.sus }}
      - name: Check vermagic
        run: |
          modinfo ${{ steps.modules.outputs.ksu }} | grep vermagic
      - name: Verify vermagic match
        run: |
          KERNEL_VER=$(strings kernel_platform/device/xiaomi/marble-kernel/Image | grep "Linux version" | head -n1 | awk '{print $3}')
          MOD_VER=$(modinfo ${{ steps.modules.outputs.ksu }} | awk '/vermagic/ {print $2}')

          echo "Kernel: $KERNEL_VER"
          echo "Module: $MOD_VER"

          echo "$MOD_VER" | grep "$KERNEL_VER" || {
          echo "Vermagic mismatch!"
          exit 1
          }
      - name: Fail if modules missing
        run: |
          [ -f "${{ steps.modules.outputs.ksu }}" ] || exit 1
          [ -f "${{ steps.modules.outputs.sus }}" ] || exit 1
      - name: Verify LKM mode
        run: |
          strings ${{ steps.modules.outputs.ksu }} | grep KernelSU
      - name: Ensure KernelSU is module
        run: |
          grep CONFIG_KSU= $(find kernel_platform -name .config | head -n1)
      - name: Zip output
        run: |
          git clone --depth=1 -b marble https://github.com/alex18101985/AnyKernel3.git AnyKernel3-marble
          cd AnyKernel3-marble
          mkdir -p modules
          cp ${{ steps.modules.outputs.ksu }} modules/kernelsu.ko
          cp ${{ steps.modules.outputs.sus }} modules/susfs.ko
          cp ../kernel_platform/device/xiaomi/marble-kernel/Image .
          rm -r .git README.md
          find . -type f -name 'placeholder' -delete
          find . -type d -empty -delete
          zip -r9 "../marble-kernel.zip" *

          cd ..
          git clone --depth=1 -b pzqqt https://github.com/alex18101985/AnyKernel3.git AnyKernel3-pzqqt
          cd AnyKernel3-pzqqt
          cp ../kernel_platform/device/xiaomi/marble-kernel/Image .
          cp ../kernel_platform/device/xiaomi/marble-kernel/dtbs/dtbo.img .
          cp ../kernel_platform/device/xiaomi/marble-kernel/dtbs/ukee.dtb ./dtb
          cp -r ../kernel_platform/device/xiaomi/marble-kernel/vendor_dlkm ./_vendor_dlkm_modules
          cp -r ../kernel_platform/device/xiaomi/marble-kernel/vendor_ramdisk ./_vendor_boot_modules
          rm -r .git README.md
          find . -type f -name 'placeholder' -delete
          find . -type d -empty -delete
      - name: Generate release tag
        id: tag
        run: echo "release_tag=AOSPA_GKI_KSU_SUSFS_$(date +'%Y.%m.%d-%H%M')" >> "$GITHUB_OUTPUT"
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: |
            marble-kernel.zip
      - name: Upload marble-kernel artifact
        uses: actions/upload-artifact@v4
        with:
          name: marble-kernel
          path: AnyKernel3-marble/*
          compression-level: 9
      - name: Upload blobs artifact
        uses: actions/upload-artifact@v4
        with:
          name: marble-kernel-blobs
          path: AnyKernel3-pzqqt/*


          compression-level: 9
