name: build-kernel
on:
  workflow_dispatch:
env:
  CLANG_DIR: clang-r510928
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
#      - name: Free disk space
#        if: ${{ true }}
#        uses: jlumbroso/free-disk-space@main
#        with:
#          tool-cache: true
#          android: true
#          dotnet: true
#          haskell: true
#          large-packages: true
#          docker-images: true
#          swap-storage: false
      - name: Set swap space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10
      - uses: actions/checkout@v6
        with:
          path: aospa-gki-kernel-build
      - name: Setup Python
        uses: actions/setup-python@v5 
        with:
          python-version: '3.x'
      - name: Setup build environment
        run: |
          sudo apt-get update
             sudo apt-get install -y curl git ccache pngcrush schedtool maven lib32ncurses5-dev xsltproc libxml2-utils squashfs-tools lzop flex build-essential bc libssl-dev libswitch-perl libxml-simple-perl zip unzip g++-multilib bison gperf zlib1g-dev automake device-tree-compiler
          sudo curl --create-dirs -o /usr/local/bin/repo -L https://storage.googleapis.com/git-repo-downloads/repo
          sudo chmod a+rx /usr/local/bin/repo
      - name: Clone repo and sync
        run: |
          repo init -u https://github.com/alex18101985/aospa-gki-kernel-build -b "$(git -C aospa-gki-kernel-build branch --show-current)" -m manifest.xml --depth=1
          for i in {1..3}; do
            echo "Repo sync attempt $i..."
            repo sync -c -j2 --fail-fast --no-tags --no-clone-bundle && break
            sleep 15
          done
          mkdir -p kernel_platform/device/xiaomi/marble-kernel/dtbs
      - name: Cache Clang
        uses: actions/cache@v4
        with:
          path: kernel_platform/clang
          key: clang-r510928
      - name: Setup Clang
        run: |
          mkdir -p kernel_platform/clang
          cd kernel_platform/clang
          if [ ! -d "${CLANG_DIR}" ]; then
            echo "Clang not found in cache. Downloading..."
            git clone -n --depth=1 --filter=tree:0 -b main-kernel-build-2024 --single-branch \
              https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86 .
            git sparse-checkout init --cone
            git sparse-checkout set ${CLANG_DIR}
            git checkout
          else
            echo "Using cached ${CLANG_DIR}"
          fi
      - name: Include KernelSU
        run: |
          cd kernel_platform/xiaomi/sm8450
          rm -rf KernelSU
          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -
      - name: Patch with custom configurations
        run: |
          cp -rvf aospa-gki-kernel-build/android_kernel_xiaomi_sm8450/. kernel_platform/xiaomi/sm8450
          cd kernel_platform/xiaomi/sm8450
          patch -p1 < no-strict-error.patch
      - name: Build kernel
        run: |
          cd kernel_platform/xiaomi/sm8450
          export PATH=$PWD/kernel_platform/clang/${CLANG_DIR}/bin:$PATH
          ./build.sh marble --only-modules
      - name: Zip kernel
        run: |
          git clone --depth=1 -b marble https://github.com/bryanyee33/AnyKernel3.git AnyKernel3-marble
          cd AnyKernel3-marble
          cp ../kernel_platform/device/xiaomi/marble-kernel/Image .
          rm -r .git README.md
          find . -type f -name 'placeholder' -delete
          find . -type d -empty -delete
          zip -r9 "../marble-kernel.zip" *
      - name: Upload kernel
        uses: actions/upload-artifact@v4
        with:
          name: marble-kernel
          path: AnyKernel3-marble/*
      - name: Upload KernelSU module
        uses: actions/upload-artifact@v4
        with:
          name: marble-kernelsu-module
          path: kernel_platform/xiaomi/sm8450/out/kernelsu.ko
          compression-level: 9
