name: Test Patch Script
on: [push, workflow_dispatch]

jobs:
  test-patch:
    runs-on: ubuntu-22.04
    steps:
      - name: Create dummy apk_sign.c
        run: |
          mkdir -p kernel_platform/xiaomi/sm8450/KernelSU/kernel/
          echo 'return check_v2_signature(path, EXPECTED_SIZE, EXPECTED_HASH);' > kernel_platform/xiaomi/sm8450/KernelSU/kernel/apk_sign.c

      - name: Patch KernelSU Managers Signatures
        run: |
          FILE="kernel_platform/xiaomi/sm8450/KernelSU/kernel/apk_sign.c"
          sed -i 's/return check_v2_signature(path, EXPECTED_SIZE, EXPECTED_HASH);/return check_v2_signature(path, EXPECTED_SIZE, EXPECTED_HASH) || \\/g' "$FILE"
          sed -i '/check_v2_signature(path, EXPECTED_SIZE, EXPECTED_HASH) ||/a \
          check_v2_signature(path, 0x363, "4359c171f32543394cbc23ef908c4bb94cad7c8087002ba164c8230948c21549") /*backslashxx*/ || \\ \
          check_v2_signature(path, 0x396, "f415f4ed9435427e1fdf7f1fccd4dbc07b3d6b8751e4dbcec6f19671f427870b") /*rsuntk*/;' "$FILE"

          if grep -q "4359c171f32543394cbc23ef908c4bb94cad7c8087002ba164c8230948c21549" "$FILE"; then
            echo "Patch success. Preview:"
            cat "$FILE"
          else
            echo "Patch failed!" && exit 1
          fi
